/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Global Styles */
* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Cormorant Garamond", serif;
    background-color: #fafbff;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes up at least 100% of viewport height */
    margin: 0;
}

header, footer {
    flex-shrink: 0; /* Prevent header and footer from shrinking */
}

/* Header Styles */
header {
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
}

.nav-links li {
    display: inline;
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: #333;
}

.current::after {
    content: "";
    width: 100%;
    height: 2px;
    border-radius: 30%;
    background-color: #555;
    position: absolute;
    top: 120%;
    left: 0;
}

/* Main Content Styles */

#introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#introduction .flex-parent {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: right;
}

.text h1 {
    font-size: 3em;
}

h1.stroke {
    font-size: 2.5em;
    color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #425269;
}

#introduction .text p {
    text-align: left;
    line-height: 1.5;
}

#introduction .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#introduction .image-container img {
    width: 50%;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me .image-container {
    position: relative;
}

.about-me .text {
    padding: 0 80px;
    text-align: left;
}

.about-me h2 {
    font-size: 1.4em;
}

.about-me p {
    margin: 10px 0;
    line-height: 1.5;
}

#resume-section {
    width: 100%;
    max-width: 1200px;
    background-color: #fafbff; /* Match background color of main content */
    padding: 30px 0;
    margin: auto;
    text-align: center;
}

.resume-title {
    font-size: 1.4em; /* Adjust the font size as needed */
    width: 100%;
    margin-bottom: 20px;
}

#resume-section .resumes {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
}

.resume {
    margin: 15px auto;
}

.resume img {
    width: 80%;
    height: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

h6 {
    font-size: 1em;
    font-weight: 500;
}

/* Button Styles */
button {
    text-decoration: none;
    font-size: 1rem;
    color: #3E3838;
    background: #fffdfd99;
    border: .9px solid #3E3838;
    margin: 8px 0;
    padding: 8px 0;
    width: 140px;
    text-align: center;
    font-family: "Cormorant Garamond", serif; /* Use specified font family */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);;
}

#contact {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact h2 {
    font-size: 1.4em; /* Adjust the font size as needed */
}

#contact p {
    margin: 10px 0 5px;
}

#contact button {
    margin-bottom: 80px;
    width: 160px;
}

/* Footer Styles */
footer {
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

footer p {
    margin: 0; /* Remove default margin */
    line-height: normal; /* Ensure text is vertically centered */
    margin: auto; /* Center the text vertically */
}

/* Project Gallery Styles */

.page-title {
    text-align: center;
}

.page-title h1 {
    margin: 20px 0;
}

.page-title p {
    width: 70%;
    text-align: left;
    border: .8px solid #333;
    border-radius: 2px;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
}

.main-content {
    width: 70%;
    margin: auto;
    padding-bottom: 50px;
}

.project-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.project-card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

.thumbnail {
    width: 100%; 
    height: 0; 
    padding-top: 75%; /* Set the aspect ratio (4:3 in this example) */
    position: relative;
}

.thumbnail img {
    position: absolute; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; /* Scale the image while preserving aspect ratio to cover the entire container */
    top: 0; /* Position the image at the top */
    left: 0; /* Position the image at the left */
}

.details {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    z-index: 1; /* Ensure the details are above the image */
    display: flex;
    flex-direction: column;
}

.details h3 {
    font-size: 1.5em;
    margin: 10px;
}

.details h5 {
    display: inline-block;
    font-size: 1em;
    color: #666;
    font-weight: 400;
    align-self: flex-start;
    padding: 5px 8px;
    border: .5px solid #999;
    border-radius: 5px;
}

.details p {
    color: #666;
    margin: 0 10px 20px 10px;
}

.project-card .details a {
    position: relative; /* Ensure relative positioning for the link */
    text-decoration: none;
    font-size: 1rem;
    color: #3E3838;
    background: #fffdfd99;
    border: .9px solid #3E3838;
    margin: 8px 0;
    padding: 8px 20px;
    text-align: center;
    box-sizing: border-box;
    font-family: "Cormorant Garamond", serif;
    align-self: center;
    justify-self: end;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Learning Achievements Styles */
.certificate-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    padding: 20px; /* padding of the card content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.certificate-image img {
    width: 100%;
    height: auto;
}

.certificate-details {
    text-align: left;
    margin: 20px 0;
}

.certificate-details h2 {
    margin: 0;
}

.certificate-details p {
    color: #666;
    margin-top: 10px;
    line-height: 1.2;
}

.skills-and-projects {
    display: flex;
    flex-direction: column;
}

.skills-learned h3, .project-links h3 {
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 10px;
}

.project-links ul li {
    display: block; /* Ensure each link is displayed as a block element */
    margin-bottom: 10px; /* Add some space between each project link */
}

.project-links ul li a,
section a {
    display: block; /* Ensure each link is displayed as a block element */
    text-decoration: none;
    font-size: 1rem;
    color: #3E3838;
    background: #fffdfd99;
    border: .9px solid #3E3838;
    margin: 0;
    padding: 5px 20px;
    width: 200px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    z-index: 1; /* Ensure the text is above the pseudo-element */
    font-family: "Cormorant Garamond", serif; /* Use specified font family */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);;
}

.inpage-btn {
    width: 150px;
    margin: 20px auto;
}

/* Case Study Setting */

.path {
    margin: auto;
    width: 80%;
    height: 8vh;
    line-height: 8vh;
}

.path a {
    text-decoration: none;
    color: #333;
    font-size: smaller;
    font-weight: 400;
}

.image-container {
    width: 100%;
    margin: 20px auto;
}

.large {
    width: 100%;
}

.middle {
    width: 100%;
}

.small {
    width: 100%;
}

.image-container img {
    width: 100%;
}

#hero {
    display: flex;
    flex-direction: column-reverse;
}

#hero .image-container {
    margin: 0 auto;
}

.title {
    width: 100%;
    padding: 5%;
}

.title h1 {
    font-size: 1em;
    font-weight: 400;
    color: #999;
}

.title h1:last-child {
    font-size: 1.8em;
    font-weight: 900;
    color: #666;
}

/* Section Titles */
h2, h3, h4 {
    color: #333;
    margin-top: 50px;
}

section {
    border-top: .8px solid #333;
}

section h2 {
    position: relative;
    font-size: 1.8em;
}

section h2::before {
    content: "";
    width: 50px;
    height: 50px;
    background-color: #c2d7f3;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    left: -30px;
    z-index: -1;
}

section h3 {
    font-size: 1.2em;
    position: relative;
}

section h3::before {
    content: "";
    background-image: url('../img/gourmety/double-comma.png');
    background-size: 40px; /* Adjust the size */
    position: absolute;
    top: -15px;
    left: -32px;
    width: 40px;
    height: 40px; /* Adjust as needed */
}


h4 {
    font-size: 1em;
}

/* Section Content */
section {
    margin: 0 auto; /* Center the section content */
    width: 90%; /* Set the content width to approximately 80% of the page */
    max-width: 90%; /* Limit the maximum content width to approximately 90% of the page */
    margin-bottom: 40px; /* Adjust margin-bottom as needed */
    padding: 0 30px;
}

section p {
    font-size: 1em;
    line-height: 1.4;
    margin: 5px 0 5px 20px;
    color: #555; /* Adjust color to fit your website's color scheme */
}

section ol, section ul {
    margin-left: 20px;
    margin-bottom: 50px;
    
}

section ol li {
    list-style: decimal;
    margin: 10px 0;
}

section ol li, section ul li {
    margin-top: 10px;
}

strong {
    font-size: 1.1em;
}

ol ul li {
    list-style-type: circle;
}


/* flex-parent setting */

.flex-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prototype-container {
    position: relative;
    margin: 50px auto;
    max-width: 276px; /* Set maximum width to match iframe */
    border: 3px solid #999; /* Add a border */
    border-radius: 25px; /* Add border radius for rounded corners */
    overflow: hidden; /* Hide overflow content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
}

.prototype-container::before {
    content: "";
    position: absolute;
    top: -30px; /* Adjust distance from top */
    left: 50%;
    transform: translateX(-50%);
    width: 138px; /* Adjust notch width */
    height: 50px; /* Adjust notch height */
    background-color: #999;
    border-radius: 0 0 15px 15px; /* Rounded bottom corners */
    z-index: 1; /* Ensure the notch is above the iframe */
}


.iframe-container {
    display: flex;
    justify-content: center;
}

#hollatte-hi-fi {
    width: 100%;
    height: 600px;
}

.videowrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

video {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media only screen and (min-width: 769px) {
    /* Header Style */
    .current::after {
        width: 120%;
        height: 3px;
        left: -10%;
    }

    /* Main Content Styles */

    #introduction .flex-parent {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .text {
        flex: 1;
    }

    .text h1 {
        text-align: right;
    }

    #introduction .text p {
        text-align: right;
    }

    #introduction .image-container {
        width: 65%;
    }

    .about-me h2 {
        font-size: 1.8em;
    }

    .resume-title {
        font-size: 1.8em;
    }

    #resume-section .resumes {
        flex-direction: row;
    }
    /* Project Gallery Styles */
    .page-title p {
        width: 100%;
        border: none;
        padding: 0;
        margin: 30px 0;
        text-align: center;
    }

    .project-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(250px, 1fr)); /* Ensure three items per row */
        grid-gap: 30px;
    }

    .project-card {
        height: 75vh;
        margin-bottom: 0px;
    }

    .details {
        backdrop-filter: blur(5px); /* Apply blur effect */
    }

    /* Learning Achievements Styles */
    .certificate-card {
        display: inline-block;
        padding: 10px 20px; /* padding of the card content */
    }

    .certificate-image {
        width: 45%;
        float: left;
        margin: 20px;
        margin-left: 0;
    }

    .certificate-details {
        flex: 1;
    }

    .certificate-details p {
        margin-top: 5px;
    }

    .skills-and-projects {
        flex-direction: row;
        clear: both;
        justify-content: center;
        align-content: center;
    }

    .skills-learned {
        width: 45%;
        margin-right: 5%; /* Add margin on the right side */
    }

    .project-links {
        width: 45%;
    }

    /* Case Study Setting */
    .title h1 {
        font-size: 1.4rem;
    }
    
    .title h1:last-child {
        font-size: 2.5rem;
    }

    /* Section Titles */

    section h2 {
        position: relative;
        font-size: 2.1em;
    }

    section h2::before {
        width: 60px;
        height: 60px;
        top: -15px;
        left: -35px;
    }

    section h3 {
        font-size: 1.4em;
    }

    /* Section Content */
    section {
        width: 85%;
    }
    section p {
        line-height: 1.5;
    }
}

@media only screen and (min-width: 1024px) {
    /* Header Styles */
    nav {
        float: right;
    }

    .nav-links {
        display: inline;
    }

    .nav-links li {
        margin-right: 30px;
    }

    .nav-links a {
        padding: 8px 10px;
        font-variant: small-caps;
        transition: all 0.8s ease;
        position: relative;
    }

    .nav-links a::before {
        content: "";
        width: 0;
        height: .5px;
        background-color: #333;
        position: absolute;
        top: 87%;
        left: -2px;
        transition: all 0.8s ease;
    }

    .nav-links a::after {
        content: "";
        width: 0;
        height: .5px;
        background-color: #333;
        position: absolute;
        top: 93%;
        left: 2px;
        transition: all 0.5s ease;
    }

    .nav-links a:hover::before,
    .nav-links a:hover::after {
        width: 100%;
    }

    .current::after {
        width: 100%;
        height: 8px;
        border-radius: 0;
        top: 150%;
        left: 0;
    }

    /* Main Content Styles */
    #introduction .image-container {
        width: 50%;
    }

    #introduction .image-container img {
        width: 60%;
    }

    .about-me {
        flex-direction: row;
        width: 80%;
        margin: auto;
    }

    .about-me .image-container {
        width: 40%;
    }

    .about-me .text {
        width: 90%;
    }

    .about-me h2 {
        font-size: 2em;
    }

    .resume-title {
        font-size: 2em;
        margin-bottom: 50px;
    }

    .resume img {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Adjust values for desired shadow effect */
    }

    .main-content {
        width: 80%;
    }

    /* Button Styles */
    button {
        box-sizing: border-box;
        position: relative;
        z-index: 1; /* Ensure the text is above the pseudo-element */
        transition: letter-spacing 0.3s cubic-bezier(0.4, 0, 0.2, 1); /* Smooth transition */
        box-shadow: none;
    }

    button::before {
        content: "";
        width: 0;
        height: 100%;
        background-color: #fff0f0;
        position: absolute;
        top: 0;
        left: 0;
        letter-spacing: 1px;
        transition: width 0.5s linear; /* Transition width separately */
        z-index: -1;
    }

    button:hover::before {
        width: 100%;
    }

    button:hover {
        letter-spacing: 2.5px;
    }

    #contact h2 {
        font-size: 2em; /* Adjust the font size as needed */
    }

    #contact p {
        margin-top: 20px;
    }

    /* Project Gallery Styles */
    .project-grid {
        grid-template-columns: repeat(3, minmax(250px, 1fr)); /* Ensure three items per row */
        grid-gap: 20px;
    }

    .project-card {
        height: 60vh;
        margin-bottom: 10px;
        transition: transform 0.3s ease;
    }

    .project-card::before {
        content: "";
        background-color: #666;
        width: 2px;
        height: 10%;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        transition: opacity .2s;
    }

    .thumbnail {
        transform: scale(1);
        overflow: hidden;
        transition: transform .5s ease-in-out;
    }

    .project-card:hover::before {
        opacity: 1;
        animation: sliding 2s;
    }

    @keyframes sliding {
        from {
            top: 0;
            left: 0;
            width: 2px;
            height: 40px;
        }
        42% {
            top: 100%;
            left: 0;
            width: 2px;
            height: 20px;
        }
        45% {
            top: 99.5%;
            left: 0;
            width: 40px;
            height: 2px;
        }
        to {
            top: 99.5%;
            left: 100%;
            width: 40px;
            height: 2px;
        }
    }

    .project-card:hover .thumbnail {
        transform: scale(1.1);
    }

    .thumbnail img {
        object-fit: cover; /* Scale the image while preserving aspect ratio to cover the entire container */
    }

    .details {
        margin-top: -30%;
        background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background color */
    }

    .details h5 {
        background-color: #fafbff99;
        border: none;
    }

    .project-card .details a {
        transition: letter-spacing 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: none;
    }

    .project-card .details a::before {
        content: "";
        width: 0;
        height: 100%;
        background-color: #fff0f0;
        position: absolute;
        top: 0;
        left: 0;
        letter-spacing: 1px;
        transition: width 0.5s linear;
        z-index: -1;
    }

    .project-card .details a:hover::before {
        width: 100%;
    }

    .project-card .details a:hover {
        letter-spacing: 2.5px;
    }

    /* Learning Achievements Styles */
    .certificate-card {
        display: flex;
        flex-direction: row;
    }

    .certificate-image {
        flex: 0 0 30%; /* Adjust the width of the image */
    }

    .skills-learned, .project-links {
        flex: 1;
    }

    .project-links ul li a,
    section a {
        box-shadow: none;
        transition: letter-spacing 0.3s cubic-bezier(0.4, 0, 0.2, 1); /* Smooth transition */
    }

    .project-links ul li a::before,
    section a::before {
        content: "";
        width: 0;
        height: 100%;
        background-color: #fff0f0;
        position: absolute;
        top: 0;
        left: 0;
        letter-spacing: 1px;
        transition: width 0.5s linear; /* Transition width separately */
        z-index: -1;
    }

    .project-links ul li a:hover::before,
    section a:hover::before {
        width: 100%;
    }

    .project-links ul li a:hover,
    section a:hover {
        letter-spacing: .8px;
    }

    /* Case Study Setting */
    .path a {
        transition: color .5s ease;
    }

    .path a:hover {
        color: #999;
    }

    .image-container {
        transform: scale(1);
        transition: transform .8s linear;
    }

    .large {
        width: 200%;
    }

    .middle {
        width: 80%;
    }

    .small {
        width: 55%;
    }

    #hero {
        position: relative;
        margin-top: 50px;
        padding: 0;
    }

    .title {
        width: 25%;
        height: 30%;
        background-color: rgba(66,82,105, 1);
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1); /* Horizontal offset, Vertical offset, Blur radius, Spread radius, Color */
        position: absolute;
        top: -30px;
        left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title h1 {
        font-size: 1.8em;
        color: #bbb;
    }

    .title h1:last-child {
        font-size: 2.5em;
        color: #eee;
    }

    /* Section Titles */
    section {
        width: 75%;
    }
    
    section h2 {
        position: relative;
        font-size: 2.2em;
    }

    section h2::before {
        width: 70px;
        height: 70px;
        top: -30px;
        left: -50px;
    }

    section h3 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1.1em;
    }

    /* flex-parent setting */

    .flex-parent {
        flex-direction: row;
        gap: 1%;
    }

    .flex-parent p {
        padding-right: 80px;
    }

    video {
        width: 80%;
        height: 500px;
        object-fit: cover;
    }

}

